body {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

p {
  max-width: inherit;
}

pre {
  max-width: inherit;
  white-space: pre-wrap;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

body#demo{
  background-color: black;
}

h1#demo{
  color: white;
  text-align: center;
}

h2#demo{
  color: white;
}
